<div class="box">
  <div routerLink="/practice01" class="item">
    <p>Ejercicio 01</p>
  </div>
  <div routerLink="/practice02" class="item">
    <p>Ejercicio 02</p>
  </div>
  <div routerLink="/practice03" class="item">
    <p>Ejercicio 03</p>
  </div>
  <div routerLink="/practice04" class="item">
    <p>Ejercicio 04</p>
  </div>
  <div routerLink="/practice05" class="item">
    <p>Ejercicio 05</p>
  </div>
  <div routerLink="/practice06" class="item" >
    <p>Ejercicio 06</p>
  </div>
  <div routerLink="/practice07" class="item">
    <p>Ejercicio 07</p>
  </div>
</div>