<div class="container">
  <h3>NgIf Directive</h3>
  <button (click)="displayOrHide()">{{name}}</button>
  <p *ngIf="display">Lorem ipsum dolor sit amet consectetur adipiscing elit inceptos magnis,
    taciti sociosqu a aptent pretium fusce suspendisse maecenas ad parturient,
    dignissim viverra potenti felis ligula luctus commodo ut.
    Fames velit est bibendum lectus interdum dictum habitant commodo,
    porttitor varius ullamcorper blandit fringilla ac tristique,
    natoque nec in vel accumsan volutpat quis.
    Metus tortor risus varius duis phasellus purus semper taciti volutpat,
    tincidunt potenti fames massa magna turpis commodo tellus placerat euismod,
    natoque aliquet augue vel etiam justo tempus blandit.</p>
</div>